/*Artwork Holder(outer)*/
.artworkContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
}


.artwork {
  flex: 1 1 calc(33.333% - 10px);
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  border: 2px solid plum;
  border-radius: 10px;
  max-width: 420px;
  max-height: 500px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}

  .artwork:hover {
    box-shadow: 0 0 0.5em 0 #5e5e5e;
    border-color: #5e5e5e;
    color: #faebd7;
  }

.artwork img {
  width: 100%;
  height: 100%;
  object-fit:cover; 
}
  * {
    font-size: 20px;
    
  }

  /*Artwork Holder(inner)*/

  .image-container {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    cursor: pointer; 
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(102, 21, 84, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.5s ease-in-out;
  }

.image-container:hover .overlay {
  opacity: 1;
  transform: translateY(0);
}

.title{
  color: yellow;
  text-align: center;
  margin: 0;
}
.description {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 15px;
}

.modal {
  position: fixed;
  z-index: 900;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
  border: 2px solid white;
}


.modal-close {
  position: absolute;
  top: 40px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.modal-close:hover{
  color: plum;
}

/*terminal button*/
  body .buttons {
    display: flex;
    gap: 5px;
  }
  
  body .buttons-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    background-color: #333; 
    padding: 10px;
  }
  
  body .buttons {
    display: flex;
    gap: 5px;
  }
  
   .buttons .close,
   .buttons .minimize,
   .buttons .expand {
    width: 15px; 
    height: 15px; 
    border-radius: 50%;
    transition: 0.3s ease;
  }
  
   .buttons .close {
    background-color: red; 
  }
  .close:hover {
    background-color: #d64242; 
  }
   .buttons .minimize {
    background-color: yellow;
  }
  .minimize:hover {
    background-color: #e5a526; 
  }
  
   .buttons .expand {
    background-color: lime;
  }
  .expand:hover {
    background-color: #219834; 
  }
  
  
  
  body {
    color: #ffebcd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #252425;
    background-size: 100%;
    position: relative;
    margin: 10px;
  }
  body .inlineContainer {
    display: inline-flex;
  }
  body .commandName {
    color: rgb(255, 0, 255);
  }


  body .avatar {
    margin-left: 20px;
    margin-top: 30px; 
    opacity: 0.7;
    width: 150px;
    height: 200px;
    filter: grayscale(50%);
    transition: filter 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
    position: relative; 
    z-index: 1; 
  }
  
  body .avatar:hover {
    filter: grayscale(0%);
    opacity: 1; 
  }
  
  body .typing-demo {
    width: 31ch;
    animation: typing 1.5s steps(31), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  
  body #terminal {
    font-family: monospace;
    color: #ffffff;
    height: 95%;
    width: 95%;
  }
  body #terminal #output {
    margin-bottom: 10px;
  }
  body #terminal #input {
    margin-top: 20px;
  }
  body #terminal #prompt {
    font-weight: 700;
  }
  body #terminal #cmd {
    font-size: 20px;
    background: 0 0;
    border: none;
    color: #ffffff;
    outline: 0;
    transition: caret-color 0.3s ease;
    width: 70%;
  }
  body #terminal #cmd:focus {
    caret-color: #ffffff;
  }
  body #terminal #suggestions {
    margin-top: 10px;
    color: #ffffff;
  }
  body #terminal #suggestions .selected {
    font-weight: 800;
    color: yellow;
  }
  body #terminal .ownerTerminal {
    font-size: 20px;
    color: lime;
  }
  @keyframes destroyAnimation {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
      opacity: 0.5;
    }
    100% {
      transform: scale(0);
      opacity: 0.2;
    }
  }
  .command-input {
    font-weight: 400;
  }
  .command-input.command-entered {
    font-weight: 700;
  }
  .nameErr {
    font-size: 100px;
  }
  .descErr {
    font-size: 10px;
  }
  .projectsDiv {
    display: inline-flex;
    margin-top: 20px;
  }
  .project-wrapper {
    margin: 10px;
    width: 250px;
    transition: 0.15s all ease-in-out;
    border-radius: 2px;
    padding: 5px;
    border: 4px solid transparent;
    cursor: pointer;
    background-color: #ffebcd;
  }
  .project-wrapper:hover {
    box-shadow: 10px 10px 0 #5abb9a, 20px 20px 0 plum;
    border-color: #2d0922;
    transform: translate(-20px, -20px);
  }
 
 
  .project-info {
    padding: 10px 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .project-info .project-title {
    font-size: 2em;
    margin: 0;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
  }
  .project-info .project-description {
    color: #000;
    font-weight: 300;
  }
  .project-info .flex-pr {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .project-hover {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 9px;
    transition: all 0.3s ease;
  }
  .container-project {
    width: 100%;
    height: 170px;
    background: gray;
  }
  body .container .flex {
    display: inline-flex;
    margin: 20px;
  }
  /*
 .skillBar {
    width: 250px;
    height: 30px;
    border: 1px solid #ffffff;
    margin: 0 20px;
    display: flex;
    align-items: center;
  }
  .skillBarItem1 {
    width: 80%;
    height: 30px;
    background: #FFCDEA;
    animation: slide1 2s ease-in-out;
  }
  .skillBarItem2 {
    width: 80%;
    height: 30px;
    background: #FFCDEA;
    animation: slide2 2s ease-in-out;
  }
  .skillBarItem3 {
    width: 75%;
    height: 30px;
    background: #FFCDEA;
    animation: slide3 2s ease-in-out;
  }
  .skillBarItem4 {
    width: 52%;
    height: 30px;
    background: #FFCDEA;
    animation: slide4 2s ease-in-out;
  }
  .skillBarItem5 {
    width: 85%;
    height: 30px;
    background: #FFCDEA;
    animation: slide5 2s ease-in-out;
  }
  .skillBarItem6 {
    width: 85%;
    height: 30px;
    background: #FFCDEA;
    animation: slide6 2s ease-in-out;
  }
  .skillBarItem7 {
    width: 85%;
    height: 30px;
    background: #FFCDEA;
    animation: slide7 2s ease-in-out;
  }
  .skillBarItem8 {
    width: 80%;
    height: 30px;
    background: #FFCDEA;
    animation: slide8 2s ease-in-out;
  }
  @keyframes slide1 {
    from {
      width: 0;
    }
    to {
      width: 80%;
    }
  }
  @keyframes slide2 {
    from {
      width: 0;
    }
    to {
      width: 80%;
    }
  }
  @keyframes slide3 {
    from {
      width: 0;
    }
    to {
      width: 75%;
    }
  }
  @keyframes slide4 {
    from {
      width: 0;
    }
    to {
      width: 52%;
    }
  }
  @keyframes slide5 {
    from {
      width: 0;
    }
    to {
      width: 85%;
    }
  }
  @keyframes slide6 {
    from {
      width: 0;
    }
    to {
      width: 85%;
    }
  }
  @keyframes slide7 {
    from {
      width: 0;
    }
    to {
      width: 85%;
    }
  }
  @keyframes slide8 {
    from {
      width: 0;
    }
    to {
      width: 80%;
    }
  } 
    */
  /*the disclaimer*/
  .artwork-message {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #505050;
  }
/*the body of coordinate system*/
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.coordinate-system {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #252425;
    border-radius: 10px;
    color: #fff;
}

.x-axis, .y-axis {
    position: absolute;
    background-color: #ffffff;
}

/* X-axis */
.x-axis {
  width: 100%;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Y-axis */
.y-axis {
    height: 100%;
    width: 2px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  justify-content: center;
  align-items: center;
}

/* Labels for X and Y axis */
.x-label {
    position: absolute;
    bottom: 103%;
    left: 25%;
    transform: translateX(-50%);
    font-weight: bold;
}
.x-label-2{
  position: absolute;
  bottom: 103%;
  left: 75%;
  transform: translateX(-50%);
  font-weight: bold;
  white-space: nowrap;
}

.y-label {
  position: absolute;
  bottom: 70%;
  left: 500px;
  transform: translateX(-50%);
  font-weight: bold;
  white-space: nowrap; 
  padding: 0 10px;
}

.y-label-2 {
  position: absolute;
  bottom: 20%;
  left: 500px; 
  transform: translateX(-50%);
  font-weight: bold;
  white-space: nowrap; 
  padding: 0 10px; 
}

.arrow-image {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  width: 30px;
  height: 30px;

}
.arrow-image_2{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(360deg);
  width: 30px; 
  height: 30px; 

}

.arrow-image_3{
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%) rotate(450deg);
  width: 30px; 
  height: 30px;
}

.quadrant {
    position: absolute;
    font-size: 14px;
    line-height: 1.5;
    padding: 5px;
}

.quadrant.tr {
    top: 10px;
    right: 10px;
}


.quadrant.bl {
    bottom: 140px;
    left: 110px;
}


.quadrant.br {
    bottom: 140px;
    right: 1px;
}


.quadrant-box {
  position: absolute;
  width: 160px;
  height: 160px;
  padding: 8px;
  border-radius: 10px;
}
.quadrant-box.tl {
  top: 10px;
  left: 10px;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 10px; 
  width: 100%;
  height: 100%;
}

.skill-box-1 {
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: opacity 0.1s ease; 
}
.skill-box-1:hover{
  opacity: .5;
}

.skill-box-2{
  padding: 3px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 9px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: opacity 0.1s ease; 
}
.skill-box-2:hover{
  opacity: .5;
}
.skill-box-2:nth-child(1) { background-color: #E34F26; } 
.skill-box-2:nth-child(2) { background-color: #1572B6; } 
.skill-box-2:nth-child(3) { background-color: #F7DF1E; color: #000; }
.skill-box-2:nth-child(4) { background-color: #61DAFB; } 

.text-tr {
  position: absolute;
  top: 32%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-weight: bold;
  color: rgba(255, 255, 255,.5);
  text-align: left;
  white-space: nowrap; 
  transition: color 0.1s ease;
}
.text-tr:hover {
  color: white;
}

.text-bl {
  position: absolute;
  bottom: 25%;
  left: 25%; 
  transform: translate(-50%, 50%);
  font-size: 12px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5); 
  text-align: left;
  white-space: nowrap; 
  transition: color 0.1s ease;
}


.text-bl:hover {
  color: white;
}

.skill-box-3{
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: opacity 0.1s ease; 
}
.skill-box-3:hover{
  opacity: .5;
}

.text-br {
  position: absolute;
  bottom: -40px; 
  right: 60%; 
  transform: translate(50%, 50%);
  font-size: 12px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5); 
  text-align: left;
  white-space: nowrap; 
  transition: color 0.3s ease;
}
.text-br:hover {
  color: white;
}
.skill-box-4{
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: opacity 0.1s ease; 
}
.skill-box-4:hover{
  opacity: .5;
}

.skill-box-4 {
  padding: 10px;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: opacity 0.1s ease; 
}

.skill-box-4:hover {
  opacity: 0.5;
}
.skill-box-4:nth-child(1) { background-color: rgb(1, 146, 1); } 
.skill-box-3:nth-child(1) { background-color: rgb(114, 21, 177); } 



.skill-box-1:nth-child(1) { background-color: #E34F26; } 
.skill-box-1:nth-child(2) { background-color: #1572B6; }
.skill-box-1:nth-child(3) { background-color: #F7DF1E; color: #000; }
.skill-box-1:nth-child(4) { background-color: #61DAFB; } 
.skill-box-1:nth-child(5) { background-color: #8993BE; }
.skill-box-1:nth-child(6) { background-color: #00758F; } 
.skill-box-1:nth-child(7) { background-color: #D72B24; } 

